{% extends 'base.html' %}
{% block conteudo %}
    
    <div class="container-fluid">
    <div class="row">
      

        
          
      <div class="col-xl-12 col-sm-6 mb-3">  
        <div class="card text-white bg-primary o-hidden h-100 ">      
          <div class="card-body ">
            <form class="form-autenticar"  action="/area_interna/voo/finalizar_excluir" method="POST">
            {% csrf_token %}
                <select  name="voo_selecao" value="OK" style="width: 500px; height: 40px" required >
                    {% for al in voo %}
                    <option value={{al.id}}>Local saida: {{ al.saida}}   Local chegada: {{al.chegada}}</option>        
                    {% endfor %} 
                </select>         
                <button class="btn btn-xs btn-warning " type="submit" >Excluir</button>  
           </form>     
          </div>
        </div>
      </div>    
    

      
{% endblock %}