{% extends 'base.html' %}
{% block conteudo %}

    <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-sm-6 mb-3">  
        <div class="card text-white bg-dark o-hidden h-100 ">
          
          <div class="card-body ">
                <h3> Lista de Pilotos cadastradas por Nome </h3>
                {% for al in tudo %}   
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Relatorio{{al.id}}">
                        <span class="nav-link-text"><h4>{{al.nome}}</h4></span>
                      </a>
                      <ul class="sidenav-second-level collapse" id="Relatorio{{al.id}}">
                          <li>
                            <h6>Código de identificação: {{al.id}} </h6> 
                          </li>
                          <li>
                            <h6>Breve: {{al.breve}}</h6>
                          </li>             
                          <li>
                            <h6>Horas de Voo: {{al.horasdevoo}}</h6>
                          </li> 
                          <li>
                           <h6>Salário: R$ {{al.salario}}</h6>
                          </li>   
                          <li>
                            <h6>Nit: {{al.nit}}</h6>
                          </li>   
                        </ul>
                      
                {% endfor %} 

            <div class="card-body-icon col-md-1">
                <i class="fa fa-fw fa-list"></i> 
            </div>
          
        </div>
        </div>
      </div>
      
{% endblock %}